.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;

  background: linear-gradient(145deg, #0f172a, #1e293b);
  color: #fff;


  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

.header p {
  font-size: 0.9rem;
  opacity: 0.6;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main img {
  width: 200px;
  height: auto;
}
.main h2 {
  font-size: 3rem;
  font-weight: 600;
}

.temperature {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.temperature span {
  font-size: 1.5rem;
  font-weight: bold;
}

.details {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.details div {
  flex: 1;
  padding: 1rem;
  border-radius: 15px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);

  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* TEXTO DOS CARDS */
.details span {
  font-size: 0.9rem;
  opacity: 0.5;
}
.icon {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
